.App {
  background-color: #e5e5e7;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pages:link, .pages:hover, .pages:visited {
  text-decoration: none;
}
.pages:active{
  color: aqua;
}
.pages{
  color: white;
}
.navbar{
  background-color: black;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mountain{
  width: 65%;
}
.mountain-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;

}
.home-block{
  text-align: center;
  margin-top: 10px;
}
.logo{
  width: 50%;
}
